.addNewUser {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.backButton {
    position: absolute;
    top: 10px;
    right: 8%;
}